body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "ubuntu", "tahoma", "helvetica", "sans-serif";
  font-size: 18/20px;
  position: relative;
  background-color: #f5f5f5;
}
div {
  display: block;
}
.header {
  background-color: #FF5300;
}
.header h1 {
  margin-top: 0;
  padding-top: 0;
  font-size: 250%;
  color: white;
  text-align: center;
}
.navbar {
  padding-left: 200px;
  padding-right: 140px;
  height: 40px;
  /*position: fixed;*/
}
.nav-item {
  padding: 5px;
  display: inline;
}
.nav-item a{
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 75%;
}
.intro {
  background-color: #f5f5f5;
  padding-left: 200px;
  padding-right: 100px;
}
.intro h2 {
  padding-top: 30px;
}
.intro-end {
  padding-bottom: 20px;
}
.intro img {
  width:295px;
  height:232px;
  float: left;
  padding: 25px 25px 25px 0;
}
.why{
  background-color: #434343;
  padding-left: 200px;
  padding-right: 140px;
}
.why h2 {
  padding-top: 30px;
  color: #f5f5f5;
}
.why p {
  color: #f5f5f5;
}
iframe {
  margin: 20px auto 30px;
  background-color: #434343;
}
.events {
  background-color: #cccccc;
  padding-left: 200px;
  padding-right: 200px;
}
.faqs {
  background-color: #f75d0a;
  padding-left: 200px;
  padding-right: 200px;
}
.about {
  background-color: #ff9e0d;
  padding-left: 200px;
  padding-right: 200px;
}

