<p class="section-body volunteer" id="volunteer">
<h1>Be a Volunteer</h1>
<h2>Are you interested in working with teens?</h2>
<h2>Do you have some familiarity with computer programming?</h2>
<p>Join Southwest Coder Dojo as a volunteer mentor!  Mentors attend selected Dojo meetings and work with small groups of teens following an online tutorial.  They are on hand to answer questions and help participants with personal projects.</p>
<h4>What is the commitment?</h4>
<p>Volunteers arrive 15 minutes before and stay 15 minutes after each meeting, for a total of 2 hours.  You can sign up to volunteer for as few or as many Dojo meetings as you wish.</p>
<h4>How much programming experience do I need?</h4>
<p>Some familiarity is good.  What is more important is taking the time to go through the lesson in advance of the dojo and knowing how to utilize online resources to solve coding problems.</p>
<h4>How do I sign up to be in the volunteer pool?</h4>
<p>Send us an email indicating interest and let us know about your experience with coding and with working with children.  Please be aware that, in accordance with U.S. Coder Dojo rules, all volunteers over the age of 18 must have a background check on file.</p>
<h4>What does the background check involve?</h4>
<p>We'll send you a link to an online background check service. We request that you cover the fee (less than $30) as your donation to the cause.  If this is not possible, please mention it in your email.</p>
<h4>How do I sign up to volunteer for a specific dojo meeting?</h4>
<p>Prior to each dojo, volunteers with background checks on file will receive an email with instructions for signing up.</p>
<h4>What if I want to organize additional dojo meetings in the area?</h4>
<p>Contact us if you'd like to organize additional monthly meetings in the Minneapolis area.</p>
<h4>How else can I help?</h4>
<p>We are looking for donations of laptops less than 3 years old. Contact us if you or your organization are able to donate.</p>
    <!--Contact-->
    <div class="contact" id="contact">
        <h2 class="about">Questions? Comments? Contact Us</h2>
        <form>
            <input type="text" name="name" placeholder="Your name">
            <input type="email" placeholder="Your email">
            <input type="text" placeholder="Subject">
            <input type="text" placeholder="Your message">
        </form>
    </div>