<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../vendors/pure-release-0.6.0/pure-min.css" >
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="../vendors/pure-release-0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="../vendors/pure-release-0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel='stylesheet' href="../stylesheets/style.css">
    <script type="text/javascript" src="../assets/scripts/jquery-1.11.3.min.js"></script>
    <!--<script src="../vendors/angular/angular.min.js"></script>-->
    <!--<script src="../vendors/angular/angular-route.min.js"></script>-->
    <script type="text/javascript" src="../assets/scripts/app.min.js"></script>
    <base href="/">
    <title>Southwest Dojo Volunteer </title>
</head>
<!--Header-->
<body>
<div class="header">
<!--Navbar-->
    <div class="navbar">
        <ul class="pure-g main-nav">
            <li class="nav-item pure-u-4-24"><a href="/#why">Why?</a></li>
            <li class="nav-item pure-u-4-24"><a href="/#events">Events</a></li>
            <li class="nav-item pure-u-4-24"><a href="/#faqs">FAQs</a></li>
            <li class="nav-item pure-u-4-24"><a href="/#about">About</a></li>
            <li class="nav-item pure-u-4-24"><a href="/#resources">Resources</a></li>
            <li class="nav-item pure-u-4-24"><a href="#volunteer">Volunteer</a></li>
        </ul>
    </div>
<!--Title-->
<h1>Southwest Coder Dojo</h1>
</div>

<!--Volunteer-->
<div class="section-body pure-g volunteer" id="volunteer">
    <div class="sidebar pure-u-4-24">
    </div>
        <div class="volunteer-content pure-u-16-24">
        <h2>Be a Volunteer</h2>
        <h3>Are you interested in working with teens?</h3>
        <h3>Do you have some familiarity with computer programming?</h3>
            <p>Join Southwest Coder Dojo as a volunteer mentor!  Mentors attend selected Dojo meetings and work with small groups of teens following an online tutorial.  They are on hand to answer questions and help participants with personal projects.</p>
        <h4>What is the commitment?</h4>
            <p>Volunteers arrive 15 minutes before and stay 15 minutes after each meeting, for a total of approximately 2 hours.  You can sign up to volunteer for as few or as many Dojo meetings as you wish.</p>
        <h4>How much programming experience do I need?</h4>
            <p>Some familiarity is good.  What is more important is taking the time to go through the lesson in advance of the dojo and knowing how to utilize online resources to solve coding problems.</p>
        <h4>How do I sign up to be in the volunteer pool?</h4>
            <p><a href="/#contact">Contact us</a> indicating your interest. Tell us about your experience with coding and with working with children.  Please be aware that, in accordance with U.S. Coder Dojo rules, all volunteers over the age of 18 must have a background check on file.</p>
        <h4>What does the background check involve?</h4>
            <p>We'll send you a link to an online background check service. We request that you cover the fee (less than $30) as your donation to the cause.  If this is not possible, please mention it in your email.</p>
        <h4>How do I sign up to volunteer for a specific dojo meeting?</h4>
            <p>Prior to each dojo, volunteers with background checks on file will receive an email with instructions for signing up.</p>
        <h4>I'm not a programmer, how else can I help?</h4>
            <p>Sure you can help to organize Dojos in the Minneapolis area. There is an unlimited need for more Dojo meetings. <a href="/#contact">Contact us</a> if you are interested.</p>
        <h4>I am not available for Dojo meetings.  How else can I help?</h4>
            <p class="volunteer-end">We are looking for donations of laptops less than 3 years old. <a href="/#contact">Contact us</a> if you or your organization are able to donate.</p>
        </div>
    <div class="sidebar pure-u-4-24">
    </div>
</div>
<!--Footer-->
<div class="section-body footer pure-g" id="footer">
    <div class="footer-text">
        <div class="footer-left pure-u-10-24">
            <p class="footer-left">Copyright 2015 Southwest Coder Dojo.</p>
            <p class="footer-left">All rights reserved.</p>
        </div>
        <div class="footer-right pure-u-10-24">
            <p class="footer-right">Facebook and Twitter links</p>
            <p class="footer-right">Privacy Policy</p>
        </div>
    </div>
</div>
</body>